@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap');

:root {
	--marigold: #E4D00A;
	--red: #910c10;
}

body {
	background: var(--marigold);
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	padding: 5vmax;
	overflow-x: hidden;
}

a {
	color: black;
}

.angle {
	transform: rotate(-3deg);
/* 	max-width: calc(100vw - 15vmax); */
	max-height: 100vh;
	display: grid;
	grid-template-columns: 3fr 3fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
}

.img__kandinsky {
	background: var(--marigold) url(https://i.imgur.com/S8Szzhb.jpg) center no-repeat content-box;
	background-size: cover;
	background-blend-mode: multiply;
	margin: 0;
	padding: 0;
}

/*
responsive ideas to walk on/sleep on:
[1] media queries
indicate on markup level...
if something starts on col 2++, adjust for all xs -> m sizes
[2] fully fluid
better would be to figure out how to make this collapse without any media queries... hmm.
*/
.type__title {
	grid-column: 1 / 6;
	grid-row: 4 / 5;
	text-transform: uppercase;
	font-size: 6em;
	line-height: 0.9em;
	margin: 0;
}

.type__subtitle {
	background: var(--red);
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	margin: 0;
}

.block__address {
	border-top: 1.3em solid var(--red);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.block__border {
	border-right: 2em solid var(--red);
	min-height: 20em;
	left: -1em;
	position: relative;
}

.type__location {
	text-transform: uppercase;
	font-size: 2.2em;
	line-height: 1;
	text-align: justify;
	margin: 5px 0 0 0;
}

.type__address {
	text-transform: uppercase;
	font-size: 1.75em;
	margin: 0;
}

.type__location {
	font-size: 2em;
}
.type__eyebrow {
	color: var(--red);
	text-transform: uppercase;
	font-size: 1.5em;
	text-align: left;
	margin: 0;
}

.type__birthday__year {
	color: var(--red);
	font-size: 2em;
	margin: 0;
}

.type__birthday__word {
	color: var(--red);
	font-size: 2.5em;
	text-transform: uppercase;
	margin: -10px 0;
}

.block__boxdeets {
	border: 5px solid black;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.block__boxdeets p {
	font-size: 1em;
	padding: 3px;
	margin: 0;
}

.line__btm {
	border-bottom: 5px solid black;
}

.line__right {
	border-right: 5px solid black;
}

.span__row2 {
	grid-row: span 2;
}
.type__boxdeets {
	font-size: 2em;
}
@media (min-width: 200px) {
	.angle {
		transform: rotate(-2deg);
	}
	
	.img__kandinsky {
		max-width: 75%;
		border-left: 3em solid var(--red);
		transform: rotate(-6deg);
		grid-column: 1 / 6;
		grid-row: 1 / 3;
		min-height: 250px;
		margin-bottom: 20px;
		}
	
	.block__address {
		grid-column: 1 / 6;
/* 		grid-column: 1; */
/* 		grid-row: 5; */
	}
	
	.block__birthday {
		grid-column: 1;
	}
	
	.block__boxdeets {
		grid-column: 1 / 5;
/* 		grid-row: 6; */
		margin-bottom: 1em;
	}
	
	.type__eyebrow {
		grid-column: 1 / 4;
	grid-row: 3 / 4; 
	}
	
	.block__border {
		display: none;
		grid-column: 1;
	}
	
	.type__subtitle {
		grid-column: 1 / 6;
		display: flex;
		align-items: center;
		color: #F8F0E3;
	}
	
}

@media (min-width: 1000px) {
		.angle {
		transform: rotate(-7deg);
	}
	.img__kandinsky {
		transform: rotate(-1deg);
		grid-column: 1 / 6;
		grid-row: 1 / 4;
		min-height: 350px;
		}
	
	.block__address {
		grid-column: -2;
		grid-row: 1 / 3;
	}
	
	.block__birthday {
		grid-column: 1;
	}
	
	.block__boxdeets {
		grid-column: 1 / 6;
			/*	grid-row: 6 ;*/
	}
	
	.type__eyebrow {
		grid-column: 3 / 6;
		grid-row: 3 / 5;
		
	}
	
	.block__border {
		display: initial;
		grid-column: 6;
		grid-row: 2 / 3;
	}
	
	.type__subtitle {
		grid-column: 1 / 6;
		grid-row: 5 / 6;
		display: flex;
		align-items: center;
	}
}

@media (min-width: 1200px) {
	.img__kandinsky {
	grid-column: 1;
	grid-row: 1 / 3;
	min-width: 100%;
	}
	
	.block__birthday {
		grid-row: 6 / 7;
		grid-column: 1;
	}
	
	.type__eyebrow {
		grid-column: 2 / 6;
		
	}
	
	.block__address {
		grid-column: 4 / 6;
		grid-row: 1 / 3;
	}
	
	.block__boxdeets {
		grid-row: 6;
		grid-column: 2 / 5;
	}
	
	.type__boxdeets__big {
	font-size: 1.5em;
	}
	
}
